@import '../../config/config.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;

    h1 a {
        color: $red;
        font-family: "fengardo black";
        letter-spacing: 5px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }

    ul {
        list-style: none;
        display: flex;

        li {
            margin-left: 30px;

            a {
                color: $white;
                text-decoration: none;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 0;
                    transition: all 0.2s ease-out;
                    height: 2px;
                    background: $red;
                }

                &:hover:before {
                    width: 100%;
                }
            }
        }
    }
}